<form class="" action="<%= travel_times_url %>" method="post" id="form">

  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>"
  >

  <label for="starting-location">Starting Location: Rentify, Barbican, London</label>

  </br>

  <label for="datetime">Date/Time of Departure:</label>
  <input
    id="datetime"
    type="datetime-local"
    name="travel_times[departure_time]"
    value="<%= Time.now.strftime("%Y-%m-%dT%H:%M") %>"
  >

  </br>

  <button id="add-destination">Add Destination</button>

  </br>

  <input id="submit" type="submit" value="Get travel times">
</form>

<% if @travel_times %>
  <%= render partial: "itinerary" %>
<% end %>
