<form class="travel-times-form" action="<%= travel_times_url %>" method="post" id="form">

  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>"
  >

  <span>Starting Location: Rentify, Barbican, London</span>

  <label for="datetime">Date/Time of Departure:</label>
  <input
    id="datetime"
    type="datetime-local"
    name="travel_times[departure_time]"
    value="<%= Time.now.strftime("%Y-%m-%dT%H:%M") %>"
  >

  <div class="buttons">
    <button id="add-destination" class="button">Add Destination</button>
    <input id="submit" class="button" type="submit" value="Get travel times">
  </div>
</form>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const addDestination = document.getElementById('add-destination');
    addDestination.addEventListener('click', appendNewAutocomplete);
  });
</script>
