<form class="" action="<%= travel_times_url %>" method="post" id="form">

  <input type="hidden"
       name="authenticity_token"
       value="<%= form_authenticity_token %>">

  <label for="starting-location">Starting Location: Rentify, Barbican, London</label>

  <button id="add-destination">Add Destination</button>

  </br>

  <input id="submit" type="submit" name="" value="Get travel times">
</form>

<%= render partial: "travel_times" %>
